
DatingApp-SAP/node_modules/
bin/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
DatingApp-SPA/dist
DatingApp-SPA/tmp
DatingApp-SPA/out-tsc
# Only exists if Bazel was run
DatingApp-SPA/bazel-out

# dependencies
DatingApp-SPA/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
DatingApp-SPA/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
DatingApp-SPA/.sass-cache
DatingApp-SPA/connect.lock
DatingApp-SPA/coverage
DatingApp-SPA/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
DatingApp-SPA/typings

# System Files
.DS_Store
Thumbs.db

*.db
*.cache
