<!-- Lists = Projects -->

<!-- Youtube Cameron app -->
<div class="container mt-3">
    <!-- Trucksearch -->
    <div class="card text-white bg-primary mb-1">
        <div class="card-header">
            <a href="https://www.trucksearch.us" target="_blank">
                Truck Search
            </a>
        </div>
        <div class="card-body">
            <div class="row no-gutters container">
                <div class="col-8">
                    Created a web application that allows for searching the Department of Transportation's data from a
                    sales
                    perspective:

                    <ul>
                        <li>Wrote web scraper HTML data from 10,000,000 possible records</li>
                        <li>Extracted, Transformed and Loaded data into my postgres database</li>
                        <li>Used Django back-end framework </li>
                        <li>Braintree for creditcard processing</li>
                        <li>Deployed to AWS using: RDS, Elastic Beanstalk, Codecommit, CodeBuild, CodePipeline</li>
                    </ul>
                </div>
                <div class="col-4">
                    <div>
                        <div class="embed-responsive">
                            <a href="https://www.trucksearch.us" target="_blank">
                                <img class="card-img-bottom" src="assets/img/trucks.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="card text-white bg-primary mb-1">
        <div class="card-header">
            Cameron's Dots
        </div>
        <div class="card-body">
            <div class="row no-gutters container">
                <div class="col-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ewLM2vAbJSA?start=2"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-4">
                    <div class="ml-2">
                        <p class="card-text">Created an android app to entertain my daughter.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>







</div>