<!-- Lists = Projects -->

<!-- Youtube Cameron app -->
<div class="container mt-3">
    <!-- Trucksearch -->
    <div class="card text-white bg-primary mb-1" style="max-width: 20rem;">
        <div class="card-header">
            <a href="https://www.youracclaim.com/badges/4a2d255f-d77f-4b7d-8766-84cf8ed3c2f2/linked_in">

                AWS Certified Developer Associate</a>
        </div>
        <div class="card-body">
            <a href="https://www.youracclaim.com/badges/4a2d255f-d77f-4b7d-8766-84cf8ed3c2f2/linked_in">
                <img class="card-img-bottom"
                    src="https://images.youracclaim.com/size/340x340/images/2a15d440-edbe-44a2-890f-0a0caf7e1442/AWS-Developer-Associate.png">
            </a>
        </div>
    </div>







</div>