<div class="container mt-2">
  <!-- Contact Card -->
  <div class="row no-gutters">
    <div class="col-4">
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Lev Tsenovoy</div>
        <div class="card-body">
          <h4 class="card-title"> <a class="btn btn-info card-text" href="tel:646-300-3295">646-300-3295</a>
          </h4>
          <a class="btn btn-info card-text" href="mailto:lev@lev.one">Lev@Lev.one</a>
        </div>
      </div>
    </div>

    <!-- About me Card -->
    <div class="col-8">
      <div class="card text-white bg-secondary">
        <div class="card-header">About Me:</div>
        <div class=" card-body">
          <p>
            Developer with over four years of experience as a software developer; always interested in learning new
            technology, and
            talking to interesting people.
            <br>
            Motivated by product success and the uphoria of solving hard puzzles.
            <br>
            A mid-level, full-stack developer who worked professionally in:</p>
          <!-- Tech -->
          <div class="row no-gutters">
            <!-- Backend -->
            <div class="col-4">
              <div>BackEnd:
                <div>
                  <ul>
                    <li>Python</li>
                    <li>Flask</li>
                    <li>Django/DjangoAPI</li>
                    <li>SQLAlchemy</li>
                    <li>SQL</li>
                    <li>SQLite, PostgreSQL,Oracle, DynamoDB</li>
                    <li>Alembic/Flask-Migrate</li>
                    <li>Postgres</li>
                    <li>Oracle</li>
                    <li>Redshift</li>
                    <li>DynameDB</li>
                    <li>Git</li>
                    <li>Linux, OSX. Windows</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Frontend -->
            <div class="col-4">
              <div>Front End:
                <div>
                  <ul>
                    <li>Angular</li>
                    <li>Java Script</li>
                    <li>Bootstrap</li>
                    <li>NodeJS</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Devops -->
            <div class="col-4">
              DevOps:
              <ul>
                <li>AWS Developer Certification</li>
                <li>AWS</li>
                <li>Jenkins</li>
                AWS products:
                <ul>
                  <li>Cloud Formation</li>
                  <li> Redshift</li>
                  <li> S3</li>
                  <li> EBS</li>
                  <li> Route53</li>
                  <li> CI/CD</li>
                  <li> CodeDepoly</li>
                  <li> CodeBuild</li>
                  <li> CodeCommit and</li>
                  <li>API Framework</li>
                </ul>

              </ul>
            </div>
          </div>
          <p>Looking to bring further success and growth.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>